{% extends 'shared/base.html' %}

{% block content %}
    <body class="text-center">

    <main class="form-text">
        <h1 class="h3 mb-3 fw-normal">Share your recipe</h1>
        <form
                class="form-control me-2"
                method="post"
                action="{% url 'add recipe' %}"
                enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <p>
                <h5>{{ field.name.capitalize }}</h5>
                {% if field.name == 'ingredients'%}
                    <h6>
                        Please type in ingredients divided by "; "
                    </h6>
                {% endif %}
                <a>{{ field }}</a>
            {% endfor %}
            <br>
            <br>
            <button class="button btn-primary" type="submit">Add</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
        </form>
    </main>


    </body>
{% endblock %}

