{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
    <main>
        <div class="album py-5 bg-light">
            <div class="container">

                {% if profiles %}
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                        {% for profile in profiles %}

                            <!-- Profile card -->
                            <div class="col">
                                <div class="card shadow-sm">


                                    <a href="{% url 'profile details' profile.pk %}">
                                        {% if profile.profile_image %}
                                            <img
                                                    src="{{ profile.profile_image.url }}"
                                                    width="200"
                                                    height="200"
                                            >
                                        {% else %}
                                            <img
                                                    src="{% static 'images/generic_user.jpg' %}"
                                                    width="200"
                                                    height="200"
                                            >
                                        {% endif %}
                                    </a>

                                    <div class="card-body">
                                        <p class="card-text">
                                        <h3>
                                            <small>User: </small>
                                            <strong>{{ profile.user }}</strong>
                                        </h3>
                                        <br>
                                        <h5>
                                            <small>Full name: </small>
                                            <i>{{ profile.first_name }} {{ profile.last_name }}</i>
                                        </h5>
                                        </p>
                                        <p class="card-text" size="1">From: {{ profile.hometown }}<br>
                                            Total recipes: {{ profile.user.recipe_set.count }}
                                        </p>
                                        <a href="{% url 'profile details' profile.pk %}">
                                            <button
                                                    type="button"
                                                    class="btn btn-sm btn-outline-secondary"
                                            >View user's profile and recipes
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <h2>No profiles yet...</h2>
                {% endif %}
            </div>
        </div>

    </main>
{% endblock %}
